Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@katiepham4 
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


24117
/
prog209-HW7
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
prog209-HW7/index.css
@24117
24117 added back footer background image
Latest commit 4d760c6 8 days ago
 History
 2 contributors
@24117@katiepham4
78 lines (65 sloc)  1.22 KB
 
h1 {
  color: rgb(12, 145, 78);
}

li {
  color: rgb(12, 145, 78);
  font-size:      25px;
  font-weight:    bold;
}

.myHeader {
  text-align: center;
  font-size:      30px;
  font-weight:    bold;
  color:  rgb(106, 221, 163);
}

.footer {
  background-image:url("./images/grocery_footer1.png");

}

.newFont {
  text-align: right;
  font-family: 'Nova Flat';font-size: 16px;
  font-size:      25px;
  font-weight:    bold;
  color:  rgb(24, 211, 117);
}

#divGroceryList ul li a {
  color: rgb(12, 145, 78);
  font-size:      25px;

}

input[type=button] {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
 }

 .button:hover {background-color:  #3e8e41}

 .button:active{
   background-color: #3e8341;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
 }
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.image1 {
  width: 100%;
}
.image2 {
  width: 100%;
}

.image3 {
  width: 100%;
}

#nav_bar ul li a.active-page
{
  background-color:rgb(106, 221, 163);
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
